.DS_Store
dist/
large-files/
*.bin
scripts/minikube-linux-amd64


# Python
env/
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Node.js
node_modules/
dist/
npm-debug.log
yarn-error.log

# Docker
*.log
*.tar.gz
docker-compose.override.yml

# Sensitive
.env
*.env
*.pem
*.key
*.crt

# Temporary
temp/
logs/
.DS_Store
*.swp
*.swo

# IDE
.idea/
.vscode/
*.code-workspace
